{% load static %}
<nav id="navbar" class="{% if request.COOKIES.sidebar_collapsed == 'true' %}collapsed{% endif %}">
   <div class="title-pill">
      <div class="logo-wrapper">
         <img src="{% static 'images/book.png' %}" class="logo collapse-toggle"/>
         <span class="app-title">Wordmart</span>
      </div>
      <button type="button" class="btn-transparent burger-btn" id="burger-toggle" aria-label="Toggle navigation">
         <i class="fa-solid fa-bars"></i>
      </button>
      <i class="fa-regular fa-square-minus collapse-toggle"></i>
   </div>

   <ul class="nav-menu">
      <li class="nav-item" data-url="{% url 'add_word' lang_id=lang_id%}">
         <a href="{% url 'add_word' lang_id=lang_id %}" class="stretched-link"></a>
         <i class="fa-regular fa-square-plus nav-item-icon"></i>
         <span class="nav-item-text">Add a word</span>
      </li>
      <li class="nav-item" data-url="{% url 'word_list' lang_id=lang_id%}">
         <a href="{% url 'word_list' lang_id=lang_id %}" class="stretched-link"></a>
         <i class="fa-solid fa-list nav-item-icon"></i>
         <span class="nav-item-text">Word List</span>
      </li>
      <li class="nav-item">
         <a class="stretched-link anchor-not-href"
            hx-trigger="click"
            hx-get="{% url 'search' lang_id=lang_id %}"
            hx-target="#genericModalBody"
            data-bs-toggle="modal"
            data-bs-target="#genericModal"
            ></a>
         <i class="fa-solid fa-magnifying-glass nav-item-icon"></i>
         <span class="nav-item-text">Seach</span>
      </li>
      <li class="nav-item" data-url="{% url 'word_list_pending' lang_id=lang_id%}">
         <a href="{% url 'word_list_pending' lang_id=lang_id %}" class="stretched-link"></a>
         <i class="fa-solid fa-clock nav-item-icon"></i>
         <span class="nav-item-text">Pending List</span>
      </li>
      <li class="nav-item" data-url="{% url 'sources' lang_id=lang_id%}">
         <a href="{% url 'sources' lang_id=lang_id %}" class="stretched-link"></a>
         <i class="fa-solid fa-clapperboard nav-item-icon"></i>
         <span class="nav-item-text">My Sources</span>
      </li>
      <li class="nav-item" data-url="{% url 'decks' lang_id=lang_id%}">
         <a href="{% url 'decks' lang_id=lang_id %}" class="stretched-link"></a>
         <i class="fa-solid fa-book nav-item-icon"></i>
         <span class="nav-item-text">Study</span>
      </li>
      <li class="nav-item" data-url="{% url 'start_screen' %}">
         <a href="{% url 'start_screen' %}" class="stretched-link"></a>
         <i class="fa-solid fa-earth-americas nav-item-icon"></i>
         <span class="nav-item-text">Languages</span>
      </li>
   </ul>
</nav>