{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}

{% block additionalStyles %}
<link rel="stylesheet" href="{% static 'swiper/swiper-bundle.min.css' %}">
<style>
   .unselectable {
      cursor: not-allowed;
      display: none;
   }

   .waveform-container {
      background:
         radial-gradient(circle at 0% 100%, rgba(51, 253, 172, 0.2), rgba(51, 253, 172, 0) 38%),
         radial-gradient(circle at 30% 0%, rgba(51, 192, 253, 0.2), rgba(51, 192, 253, 0) 38%),
         radial-gradient(circle at 70% 100%, rgba(95, 51, 253, 0.2), rgba(95, 51, 253, 0) 38%),
         radial-gradient(circle at 100% 0%, rgba(253, 51, 155, 0.2), rgba(253, 51, 155, 0) 38%),
         #000;
      height: 661px;
      width: 100%;
      padding-left: 27px;
      padding-right: 63px;
      position: relative;
      border-radius: 10px;
   
   /* Force GPU compositing layer to eliminate sub-pixel rounding cuts */
   transform: translateZ(0);
   }

   .wave-square {
      min-width: 270px;
      max-width: 270px;
      width: 270px;
      height: 100%;
      display: flex;
   }
   
   .swiper-pagination-bullet {
      width: 23px;
      height: 23px;
      text-align: center;
      line-height: 23px;
      font-size: 0.9rem;
      color: var(--text-main);
      opacity: 1;
      background: var(--bg-elevated);
   }
   
   .swiper-pagination-bullet-active {
      color: var(--text-main);
      background: var(--accent-purple);
   }
   
   .text-example {
      font-style: italic;
      font-size: 0.99rem;
      height: 90px;
      overflow-y: auto;
   }
   
   .text-word {
      line-height: 1;
      font-size: 1.17rem;
      font-weight: bold;
      min-height: 36px;
      max-height: 36px;
      overflow-y: auto;
   }
   
   .text-time {
      line-height: 1;
      font-weight: bold;
      font-size: 1.35rem;
   }

   .waveform {
      margin-top: 290px;
      display: flex;
      align-items: center;
      gap: 6px;
      height: 64px;
      position: relative;
   }

   .waveform-card, .waveform-card {
      position: absolute;
      height: 200px;
      width: 300px;
      /* border: 1px solid var(--border-color) !important; */
      padding: 12px 18px;
      border-radius: 10px;
      background: #4a4f638e;
      backdrop-filter: blur(8px);           /* Blurs image/content behind row */
      -webkit-backdrop-filter: blur(8px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
   }
   
   .waveform-card-even {
      top: 100px;
   }
   .waveform-card-odd {
      bottom: 100px;
   }


   .waveform span {
      width: 4px;
      height: calc(var(--h, 0.5) * 100%);
      background-color: var(--accent-purple);
      border-radius: 2px;
      min-height: 2px;
   }

</style>
{% endblock additionalStyles %}

{% block innerbody %}

{% if segment %}
   {% url 'session_segment_cite' segment_id=segment.id lang_id=lang_id as target_url %}   
{% elif source %}
   {% url 'session_source_cite' source_id=source.id lang_id=lang_id as target_url %}
{% endif %}

{% with item=segment|default:source %}
<div class="container-lg py-5" style="user-select: none;">

   <div class="d-flex align-items-center">
      <h2 class="">S{{item.season_number|stringformat:"02d"}}E{{item.episode_number|stringformat:"02d"}} - {{item.name}}</h2>

      <button type="button"
         hx-get="{{target_url}}"
         hx-trigger="click"
         hx-target="#genericModalBody"
         hx-target-error="#error-box"
         data-bs-toggle="modal"
         data-bs-target="#genericModal"
         class="btn btn-primary ms-auto">
         Add a citation
      </button>
   </div>

   {% if segment %}
      <a href="{% url 'segments' lang_id=lang_id source_id=segment.source.id %}" class="fs-5">
         {{segment.source.name}}
      </a>
   {% else %}
      <a href="{% url 'sources' lang_id=lang_id %}" class="fs-5">
         All Sources
      </a>
   {% endif %}

   {% if episode %}
      <a href="{% url 'episodes' lang_id=lang_id source_id=episode.source.id %}" class="fs-4">
         {{episode.source.name}}
         {% if episode.source.released_year %}({{episode.source.released_year}}){% endif %}
      </a>
   {% endif %}

   <div style="min-height: 80px"></div>

   <div class="d-flex justify-content-center position-relative">

      <div id="waveform" class="swiper waveform-container">
         <div class="swiper-wrapper">
            {% for cit_id, time, w_id, w_name, d_id, d_desc, ex_id, ex_desc, img_path, img_id, page_n in citations %}
               {% if episode %}
                  {% url 'session_episode_cite_edit' citation_id=cit_id episode_id=episode.id lang_id=lang_id as edit_url %}
               {% elif segment %}
                  {% url 'session_segment_cite_edit' citation_id=cit_id segment_id=segment.id lang_id=lang_id as edit_url %}   
               {% elif source %}
                  {% url 'session_source_cite_edit' citation_id=cit_id source_id=source.id lang_id=lang_id as edit_url %}
               {% endif %}
            <div class="swiper-slide wave-square">
               <div class="waveform">
                  <span class="h-20"></span><span class="h-30"></span><span class="h-40"></span><span class="h-50"></span><span class="h-40"></span>
                  <span class="h-30"></span><span class="h-60"></span><span class="h-60"></span><span class="h-50"></span><span class="h-40"></span>
                  <span class="h-50"></span><span class="h-60"></span><span class="h-70"></span><span class="h-100"></span><span class="h-70"></span>
                  <span class="h-60"></span><span class="h-50"></span><span class="h-70"></span><span class="h-60"></span><span class="h-90"></span>
                  <span class="h-100"></span><span class="h-80"></span><span class="h-60"></span><span class="h-70"></span><span class="h-40"></span>
                  <span class="h-30"></span><span class="h-20"></span>
                  <div class="waveform-card waveform-card-{%if forloop.counter|divisibleby:'2'%}even{%else%}odd{%endif%}">
                     <div class="text-word">{{w_name}}</div>
                     <div class="text-example">{{ex_desc}}</div> 
                     <div class="d-flex justify-content-between align-items-end">
                        <div>
                           <a hx-get="{{edit_url}}"
                              hx-trigger="click"
                              hx-target="#genericModalBody"
                              hx-target-error="#error-box"
                              data-bs-toggle="modal"
                              data-bs-target="#genericModal"
                              class="anchor-not-href-icon">
                              <i class="fa-solid fa-pen-to-square text-muted"></i>
                           </a>
                           <a href="{% url 'word_details' lang_id=lang_id word_id=w_id %}">
                              <i class="fa-solid fa-square-arrow-up-right px-3 text-muted"></i>
                           </a>
                        </div>
                        <p class="text-time m-0">{{time}}</p>
                     </div>
                  </div>
               </div>

            </div>
            {% endfor %}
         </div>
         <div class="swiper-pagination"></div>
      </div>
   </div>



   <div class="mt-5">
   </div>

</div>
{% endwith %}

{% endblock innerbody %}

{% block additionalScripts %}
<script src="{% static 'swiper/swiper-bundle.min.js' %}"></script>

<script>
   
   var swiper = new Swiper('.swiper', {
      // cssMode: true, // remove animations
      spaceBetween: 0,
      pagination: {
         el: '.swiper-pagination',
         clickable: true,
         dynamicBullets: true,
      },
      keyboard: true,
      preventClicks: true,
      preventClicksPropagation: true,
      navigation: {
         nextEl: '.custom-next-btn',
         prevEl: '.custom-prev-btn',
      },
      slidesPerView: 'auto',
   });
   
   function htmxTriggerAndShow(target, trigger) {
      htmx.trigger(target, trigger);
      bootstrap.Modal.getOrCreateInstance(document.getElementById('genericModal')).show();
   }

</script>
<script>
   const defn_ajax_url = "{{defn_ajax_url}}";


   //called from base.html htmx:afterSettle which looks for data-modal-init="prepareSelect2CitationForm" inside the _citation_form swapped content
   //(ノಠ益ಠ)ノ彡┻━┻
   async function prepareSelect2CitationForm() {
      $('#genericModalTitle').text('Create a citation');
      
      $('#pending-wrapper').remove();
      $('#img-time-col').removeClass('col-xl-5');
      $('#img-time-col').closest('.row').removeClass('gy-4');
      
      const $wordInput = $('#id_word');
      const $defSelect = $('#id_definition_select');
      const $defInput = $('#id_definition_input');
      
      $wordInput.on('select2:select change', async function(e) {
         // console.log('wordInput on change');
         var wordId = parseInt($(this).val(), 10);
         if (Number.isNaN(wordId)) {
            // console.log('showdefinitionfield wordinput selec2:select change');
            showDefinitionField(false);
         } else {
            await loadDefinitions(wordId);
            $defInput.val('');
            $('#wordEditUrl').attr('href', (i, href) => href.replace(/\/word\/\d+/, `/word/${wordId}`));
         }
         $('.definition-wrapper').removeClass('unselectable');
         $('#id_example').closest('.row-wrapper').removeClass('unselectable');
      });

      $defSelect.on('change', function() {
         // console.log('defSelect on change');
         var isNewOption = $(this).val() == '-1'
         if (isNewOption) {
            $defInput.closest('.row-wrapper').removeClass('unselectable');
            $defInput.prop('disabled', false);            
         } else {
            // console.log('showdefinitionfield def select on change');
            showDefinitionField(true);
         }
         $('#wordEditUrl').toggleClass('unselectable', isNewOption);
      });


      const $initialId = $wordInput.data('initialId');
      if ($initialId != "None") {
         // console.log('word initial id');
         $wordInput.append(
            $('<option>', {
               value: $initialId,
               text: $wordInput.data('initialWord'),
               selected: true
            })
         );
         $('#wordEditUrl').attr('href', (i, href) => href.replace(/\/word\/\d+/, `/word/${$initialId}`));
         $('#id_example').closest('.row-wrapper').removeClass('unselectable');
         $('.definition-wrapper').removeClass('unselectable');

         const targetDefId = $defSelect.val();
         await loadDefinitions($initialId, targetDefId);
      } else {
         $wordInput.append($('<option></option>')) //select2.select not fire when use remote source and createTag  #5386
      }
      

      function showDefinitionField(useSelect) {
         // console.log('showdeffield defSelect disabled: ', !useSelect);
         // console.log('showdeffield defInput disabled: ', useSelect);
         $defSelect.prop('disabled', !useSelect);
         $defInput.prop('disabled', useSelect);
         if (!useSelect) $defInput.val('');
         $defSelect.closest('.row-wrapper').toggleClass('unselectable', !useSelect);
         $defInput.closest('.row-wrapper').toggleClass('unselectable', useSelect);
      }

      async function loadDefinitions(wordId, targetDefId = null) {
         // console.log('loading definitions');
         const url = `${defn_ajax_url}?word_id=${wordId}`;
         try {
            const response = await fetch(url);
            if (!response.ok) throw new Error(`HTTP error! Status: ${response.status}`);
            const data = await response.json();
            $defSelect.empty();
            if (data.results.length > 0) {
               data.results.forEach(item => {
                  $('<option>', {
                     value: item.id,
                     text: item.text.length > 90 ? item.text.slice(0, 90) + '...' : item.text,
                     title: item.text
                  }).appendTo($defSelect);
               });
               $('<option>', { value: -1, text: 'New definition'}).appendTo($defSelect);
               if (targetDefId) $defSelect.val(targetDefId).trigger('change');

               // console.log('showdefinitionfield in results');
               showDefinitionField(true);
            } else {
               // console.log('showdefinitionfield NO results');
               showDefinitionField(false);
            }
         } catch (err) {
            console.error('Fetch error:', err);
         }
      }
   }
</script>
{% endblock additionalScripts %}
