{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}

{% block additionalStyles %}
<link rel="stylesheet" href="{% static 'swiper/swiper-bundle.min.css' %}">
<link rel="stylesheet" href="{% static 'filepond/filepond-4.32.12.css' %}">
<link rel="stylesheet" href="{% static 'filepond/filepond-plugin-image-preview-4.6.12.css' %}">
<style>
   .unselectable {
      cursor: not-allowed;
      display: none;
   }

   .film-strip {
      background: black;
      height: 576px;
      width: 100%;
      padding-left: 27px;
      position: relative;
   }
   
   .film-strip::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: -18px;
      background: var(--bg-body);
      height: 45px;
      width: calc(100% + 27px);
   }
   
   .film-square {
      min-width: 400px;
      max-width: 400px;
      width: 400px;
      height: 100%;
   }
   
   .film-strip-top,
   .film-strip-bottom {
      height: 20px;
      display: flex;
   }
   
   .film-strip-top {
      margin-top: 18px;
      margin-bottom: 12px;
   }
   
   .film-strip-bottom {
      margin-top: 12px;
      margin-bottom: 18px;
   }
   
   .film-strip-cut {
      background: rgb(61, 64, 73);
      width: 14px;
      border-radius: 3px;
      margin-right: 27px;
   }
   
   .film-strip-middle, .film-strip-middle-lower, .film-strip-additional {
      background: #0c101e;
   }
   .film-strip-middle {
      height: 387px;
      margin-right: 18px;
      display: flex;
      flex-direction: column;
      padding: 18px;
   }
   
   .img-wrapper {
      width: 100%;
      height: 200px !important;
      background: black;
      display: flex;
      justify-content: center;
   }
   .img-wrapper img{
      width: auto;
      max-width: 100%;
      height: 200px !important;
   }
   
   .film-strip-middle-lower {
      height: 45px;
      margin-right: 18px;
      padding: 0 18px;
   }
   
   .swiper-pagination-bullet {
      width: 23px;
      height: 23px;
      text-align: center;
      line-height: 23px;
      font-size: 0.9rem;
      color: var(--text-main);
      opacity: 1;
      background: var(--bg-elevated);
   }
   
   .swiper-pagination-bullet-active {
      color: var(--text-main);
      background: var(--accent-purple);
   }
   
   .text-example {
      margin-top: 18px;
      font-style: italic;
      font-size: 0.99rem;
      height: 79px;
      overflow-y: auto;
   }
   
   .text-word {
      margin-bottom: 18px;
      font-size: 1.17rem;
      font-weight: bold;
      min-height: 36px;
      max-height: 36px;
      overflow-y: auto;
   }
   
   .text-time {
      font-weight: bold;
      font-size: 1.35rem;
   }

   .film-strip-additional{
      height: 432px;
      padding: 18px;
      display: flex;
      margin-right: 18px;
   }
   
   .text-additional {
      font-size: 1.5rem;
      font-weight: bold;
   }

   .custom-prev-btn {
      position: absolute;
      top: calc((531px - 16px)/2);
      left: -60px;
      z-index: 3;
   }
   
   .custom-next-btn {
      position: absolute;
      top: calc((531px - 16px)/2);
      right: -60px;
      z-index: 3;
   }

   .form-select, 
   .form-select option {
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
   }
   .filepond-container { height: 230px;}
</style>
{% endblock additionalStyles %}

{% block innerbody %}

{% if episode %}
   {% url 'session_episode_cite' episode_id=episode.id lang_id=lang_id as target_url %}
{% elif segment %}
   {% url 'session_segment_cite' segment_id=segment.id lang_id=lang_id as target_url %}   
{% elif source %}
   {% url 'session_source_cite' source_id=source.id lang_id=lang_id as target_url %}
{% endif %}

{% with item=episode|default:segment|default:source %}
<div class="container-lg py-5" style="user-select: none;">

   <div class="d-flex align-items-center">
      <h2 class="">S{{item.season_number|stringformat:"02d"}}E{{item.episode_number|stringformat:"02d"}} - {{item.name}}</h2>

      <button type="button"
         hx-get="{{target_url}}"
         hx-trigger="mouseup"
         hx-target="#genericModalBody"
         hx-target-error="#error-box"
         data-bs-toggle="modal"
         data-bs-target="#genericModal"
         class="btn btn-primary ms-auto">
         Add a citation
      </button>
   </div>

   {% if episode %}
      <a href="{% url 'episodes' lang_id=lang_id source_id=episode.source.id %}" class="fs-5">
         {{episode.source.name}}
         {% if episode.source.released_year %}({{episode.source.released_year}}){% endif %}
      </a>
   {% else %}
      <a href="{% url 'sources' lang_id=lang_id %}" class="fs-5">All sources</a>
   {% endif %}

   <div style="min-height: 80px"></div>

   <div class="d-flex justify-content-center position-relative">
      <div class="custom-prev-btn">
         <i class="fa-solid fa-chevron-left fs-2"></i>
      </div>
      <div class="custom-next-btn">
         <i class="fa-solid fa-chevron-right fs-2"></i>
      </div>

      <div id="#film-strip" class="swiper film-strip">
         <div class="swiper-wrapper">
            {% for cit_id, time, w_id, w_name, d_id, d_desc, ex_id, ex_desc, img_path, img_id, page_n in citations %}
               {% if episode %}
                  {% url 'session_episode_cite_edit' citation_id=cit_id episode_id=episode.id lang_id=lang_id as edit_url %}
               {% elif segment %}
                  {% url 'session_segment_cite_edit' citation_id=cit_id segment_id=segment.id lang_id=lang_id as edit_url %}   
               {% elif source %}
                  {% url 'session_source_cite_edit' citation_id=cit_id source_id=source.id lang_id=lang_id as edit_url %}
               {% endif %}
            <div class="swiper-slide film-square">
               <div class="film-strip-top">
                  {% for i in 10|times %}<div class="film-strip-cut"></div>{% endfor %}
               </div>
               <div class="film-strip-middle">
                  <div class="text-word">{{w_name}}</div>
                  {% if img_path %}
                  <div class="img-wrapper"
                     hx-get="{% url 'show_image' img_id=img_id %}"
                     hx-trigger="manualTrigger"
                     hx-target="#genericModalImgContent"
                     hx-target-error="#error-box">
                     <img src="{{MEDIA_URL}}{{img_path}}" alt="{{img_path}}">
                  </div>
                  {% endif %}
                  <div class="text-example">{{ex_desc}}</div> 
               </div>
               <div class="film-strip-middle-lower d-flex justify-content-between">
                  <p class="text-time m-0">{{time}}</p>
                  <div>
                     <a hx-get="{{edit_url}}"
                        hx-trigger="click"
                        hx-target="#genericModalBody"
                        hx-target-error="#error-box"
                        data-bs-toggle="modal"
                        data-bs-target="#genericModal">
                        <i class="fa-solid fa-pen-to-square text-muted"></i>
                     </a>
                     <a href="{% url 'word_details' lang_id=lang_id word_id=w_id %}">
                        <i class="fa-solid fa-square-arrow-up-right px-3 text-muted"></i>
                     </a>
                  </div>
               </div>
               <div class="film-strip-bottom">
                  {% for i in 10|times %}<div class="film-strip-cut"></div>{% endfor %}
               </div>
            </div>
            {% endfor %}
            <div class="swiper-slide film-square">
               <div class="film-strip-top">
                  {% for i in 10|times %}<div class="film-strip-cut"></div>{% endfor %}
               </div>
               <div class="film-strip-additional">
                  <a id="addCitationLast"
                     hx-get="{{target_url}}"
                     hx-trigger="manualTrigger"
                     hx-target="#genericModalBody"
                     hx-target-error="#error-box"
                     class="w-100 h-100 d-flex justify-content-center align-items-center text-decoration-none position-relative"
                     style="cursor: pointer;">
                     <span class="position-absolute text-additional" style="top: 30%">Add a citation</span>
                     <i class="fa-solid fa-circle-plus fs-2 text-accent-gold"></i>
                  </a>
               </div>
               <div class="film-strip-bottom">
                  {% for i in 10|times %}<div class="film-strip-cut"></div>{% endfor %}
               </div>
            </div>
         </div>
         <div class="pagination-fix"></div>
         <div class="swiper-pagination"></div>
      </div>
   </div>


   <div class="mt-5">
   </div>

</div>
{% endwith %}

{% endblock innerbody %}

{% block additionalScripts %}
<script src="{% static 'swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'filepond/filepond-4.32.12.js' %}"></script>
<script src="{% static 'filepond/filepond-plugin-image-preview-4.6.12.js' %}"></script>
<script>
   
   var swiper = new Swiper('.swiper', {
      // cssMode: true, // remove animations
      spaceBetween: 0,
      pagination: {
         el: '.swiper-pagination',
         clickable: true,
         dynamicBullets: true,
      },
      keyboard: true,
      preventClicks: true,
      preventClicksPropagation: true,
      navigation: {
         nextEl: '.custom-next-btn',
         prevEl: '.custom-prev-btn',
      },
      slidesPerView: 'auto',
      
      // centeredSlides: true,
      // effect: 'coverflow',
      // coverflowEffect: {
      //    rotate: 50,
      //    stretch: 0,
      //    depth: 100,
      //    modifier: 1,
      //    slideShadows: true,
      // },
   });
   
   function htmxTriggerAndShow(target, trigger, modalId) {
      htmx.trigger(target, trigger);
      bootstrap.Modal.getOrCreateInstance(document.getElementById(modalId)).show();
   }
   
   // htmx + data-bs-toggle="modal" causes an bug using swipper
   document.querySelectorAll('.img-wrapper').forEach(wrapper => {
      wrapper.addEventListener('click', (e) => htmxTriggerAndShow(e.currentTarget, 'manualTrigger', 'genericModalImg'));
   });

   document.getElementById('addCitationLast')
      .addEventListener('click', (e) => htmxTriggerAndShow(e.currentTarget, 'manualTrigger', 'genericModal'));
</script>
<script>
   const defn_ajax_url = "{{defn_ajax_url}}";


   //called from base.html htmx:afterSettle which looks for data-modal-init="prepareSelect2CitationForm" inside the _citation_form swapped content
   //(ノಠ益ಠ)ノ彡┻━┻
   async function prepareSelect2CitationForm() {
      FilePond.registerPlugin(FilePondPluginImagePreview);
      document.querySelector('.modal-dialog').classList.toggle('modal-xl', true);

      $('#genericModalTitle').text('Create a citation');

      const $wordInput = $('#id_word');
      const $defSelect = $('#id_definition_select');
      const $defInput = $('#id_definition_input');
      const $pendingCheck = $('#id_pending_definition');
      
      $wordInput.on('select2:select change', async function(e) {
         // console.log('wordInput on change');
         var wordId = parseInt($(this).val(), 10);
         if (Number.isNaN(wordId)) {
            // console.log('showdefinitionfield wordinput selec2:select change');
            showDefinitionField(false);
         } else {
            await loadDefinitions(wordId);
            $defInput.val('');
            $('#wordEditUrl').attr('href', (i, href) => href.replace(/\/word\/\d+/, `/word/${wordId}`));
         }
         $('.definition-wrapper').removeClass('unselectable');
         $('#id_example').closest('.row-wrapper').removeClass('unselectable');
         $pendingCheck.prop('checked', false).trigger('change');
      });

      $defSelect.on('change', function() {
         // console.log('defSelect on change');
         var isNewOption = $(this).val() == '-1'
         if (isNewOption) {
            $defInput.closest('.row-wrapper').removeClass('unselectable');
            $defInput.prop('disabled', false);            
         } else {
            // console.log('showdefinitionfield def select on change');
            showDefinitionField(true);
         }
         $('#wordEditUrl').toggleClass('unselectable', isNewOption);
      });


      $pendingCheck.on('change', function(){
         var checked = $(this).is(':checked');
         var $defSection = $('#definition-section');
         
         $defSection.toggleClass('unselectable', checked);

         if (checked) {
            // console.log('checked');
            // console.log('Matched elements:', $defSection.find('input:not(:disabled), textarea:not(:disabled), select:not(:disabled)').get());
            $defSection.find('input:not(:disabled), textarea:not(:disabled), select:not(:disabled)')
               .attr('data-pending', 'true')
               .prop('disabled', true);
         } else {
            // console.log('unchecked');
            $defSection.find('[data-pending="true"]')
               .prop('disabled', false)
               .removeAttr('data-pending');
         }
      });

      const $initialId = $wordInput.data('initialId');
      if ($initialId != "None") {
         // console.log('word initial id');
         $wordInput.append(
            $('<option>', {
               value: $initialId,
               text: $wordInput.data('initialWord'),
               selected: true
            })
         );
         $('#wordEditUrl').attr('href', (i, href) => href.replace(/\/word\/\d+/, `/word/${$initialId}`));
         $('#id_example').closest('.row-wrapper').removeClass('unselectable');
         $('.definition-wrapper').removeClass('unselectable');
         
         const targetDefId = $defSelect.val();
         await loadDefinitions($initialId, targetDefId);
      } else {
         $wordInput.append($('<option></option>')) //select2.select not fire when use remote source and createTag  #5386
      }
      

      function showDefinitionField(useSelect) {
         // console.log('showdeffield defSelect disabled: ', !useSelect);
         // console.log('showdeffield defInput disabled: ', useSelect);
         $defSelect.prop('disabled', !useSelect);
         $defInput.prop('disabled', useSelect);
         if (!useSelect) $defInput.val('');
         $defSelect.closest('.row-wrapper').toggleClass('unselectable', !useSelect);
         $defInput.closest('.row-wrapper').toggleClass('unselectable', useSelect);
      }

      async function loadDefinitions(wordId, targetDefId = null) {
         // console.log('loading definitions');
         const url = `${defn_ajax_url}?word_id=${wordId}`;
         try {
            const response = await fetch(url);
            if (!response.ok) throw new Error(`HTTP error! Status: ${response.status}`);
            const data = await response.json();
            $defSelect.empty();
            if (data.results.length > 0) {
               data.results.forEach(item => {
                  $('<option>', {
                     value: item.id,
                     text: item.text.length > 90 ? item.text.slice(0, 90) + '...' : item.text,
                     title: item.text
                  }).appendTo($defSelect);
               });
               $('<option>', { value: -1, text: 'New definition'}).appendTo($defSelect);
               if (targetDefId) $defSelect.val(targetDefId).trigger('change');

               // console.log('showdefinitionfield in results');
               showDefinitionField(true);
            } else {
               // console.log('showdefinitionfield NO results');
               showDefinitionField(false);
            }
         } catch (err) {
            console.error('Fetch error:', err);
         }
      }

      // console.log('pendingcheck triggering change');
      $pendingCheck.trigger('change');


      document.querySelectorAll('.filepond-wrapper').forEach((container) => { //just 1 btw
         initializeFilePond(container);  //defined in base.html
         setActiveContainer(container, imageInstances.get(container)); //defined in base.html
      });
   }
</script>
{% endblock additionalScripts %}
