{% extends 'base.html' %}
{% load custom_filters %}
{% block additionalStyles %}
<style>
.unselectable {
   cursor: not-allowed;
   display: none;
}
.book-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 90%;
  margin: 0 auto;
  margin-top: 80px;
}

.book {
   /* width: 840px; */
   width: 900px;
   max-width: 100%;
   height: 680px;
   /* height: 648px; */
   position: relative;
   border-radius: 8px;
   background: #9c9693;

   perspective: 2000px;
   transform-style: preserve-3d;

   box-shadow:
      0 25px 50px rgba(0, 0, 0, 0.5),
      -12px 0 0 -2px #0e2b45,
      12px 0 0 -2px #0e2b45,
      0 0 0 10px #1a4874,
      -15px 0 0 10px #1a4874,
      15px 0 0 10px #1a4874;
}

.spread {
   display: none;
   grid-template-columns: 1fr 1fr;
   width: 100%;
   height: 100%;
   position: relative;
   inset: 0;
}

.spread.active {
   display: grid;
   z-index: 2;
}

.spread::after {
   content: "";
   position: absolute;
   top: 0;
   left: 50%;
   transform: translateX(-50%);
   width: 80px;
   height: 100%;
   pointer-events: none;
   z-index: 15;

   background: linear-gradient(
      to right,
      rgba(0,0,0,0) 0%,
      rgba(0,0,0,0.10) 30%,
      rgba(0,0,0,0.3) 50%,
      rgba(0,0,0,0.10) 70%,
      rgba(0,0,0,0) 100%
   );
}

.spread.active::before {
   content: "";
   position: absolute;
   top: -12px;
   right: 60px;
   width: 18px;
   height: 50px;
   background: #a83232;
   border-radius: 0 0 2px 2px;
   transform: rotate(2deg);
   z-index: 20;
   box-shadow: 2px 4px 8px rgba(0,0,0,0.4);
}

.page {
   position: relative;
   padding: 20px 30px;
   box-sizing: border-box;
   color: #2b2b2b;

   background: linear-gradient(
      to right,
      #eae3d2 0%,
      #f7f3e9 8%,
      #fcfaf4 50%,
      #f7f3e9 92%,
      #eae3d2 100%
   );
}

.page::after {
   content: "";
   position: absolute;
   inset: 0;
   pointer-events: none;
   opacity: 0.04;
   z-index: 3;
   background-image: repeating-linear-gradient(
      0deg,
      transparent 0px,
      transparent 2px,
      #000 3px
   );
}

.page.left {
   border-right: 1px solid #d4c8b5;
   border-radius: 6px 0 0 6px;
   box-shadow: inset -25px 0 35px -15px rgba(0, 0, 0, 0.1);
}

.page.right {
   border-left: 1px solid #d4c8b5;
   border-radius: 0 6px 6px 0;
   box-shadow: inset 25px 0 35px -15px rgba(0, 0, 0, 0.1);
}

.page.left::before {
   content: "";
   position: absolute;
   top: 1.5%;
   bottom: 0;
   left: -12px;
   right: auto;
   width: 12px;
   height: 97%;
   z-index: 10;
   pointer-events: none;
   border-radius: 4px 0 0 4px;
   background: repeating-linear-gradient(
      to right,
      #e8dfd1 0px,
      #e8dfd1 1px,
      #c4b8a5 2px
   );
   box-shadow: inset -3px 0 5px rgba(0, 0, 0, 0.2);
}

.page.right::before {
   content: "";
   position: absolute;
   top: 1.5%;
   bottom: 0;
   left: auto;
   right: -12px;
   width: 12px;
   height: 97%;
   z-index: 10;
   pointer-events: none;
   border-radius: 0 4px 4px 0;
   background: repeating-linear-gradient(
      to right,
      #e8dfd1 0px,
      #e8dfd1 1px,
      #c4b8a5 2px
   );
   box-shadow: inset 3px 0 5px rgba(0, 0, 0, 0.2);
}

.citation {
   position: relative;
   z-index: 4;
   margin-top: 1rem;
   height: 144px;
   overflow-y: auto;
}

.text-word a{
   color: black;
   font-weight: bold;
   font-family: 'Baskervville-Bold', 'Times New Roman', serif;
}
.text-definition, .text-example { line-height: 1 !important;  font-weight: 400; font-size: 0.95rem;}
.text-example {
   color: #1a1a1a;
   font-style: italic;
   margin-bottom: 10px
}
.text-definition {
   color: #4e4e4e;
}
.chapter-title {
   height: 144px;
   font-size: 2rem;
   overflow-y: auto;
   color: #1a1a1a;
   font-family: 'Baskervville-Bold';
   margin-top: 1rem;
}
.edit-icon { font-size: 0.875rem; color: #616060}
#prevBtn, #nextBtn {
   position: absolute;
   bottom: 5px;
   z-index: 5;
}
#prevBtn i, #nextBtn i { color: #1a1a1a; }
#prevBtn {left: 10px }
#nextBtn { right: 10px; }

</style>
{% endblock %}
{% block innerbody %}
<div class="container-lg py-4">
   <div class="d-flex align-items-center">
      <h2 class="">{{segment.get_segment_type_display}} {{segment.number}}</h2>

      <button type="button"
         hx-get="{% url 'session_segment_cite' segment_id=segment.id lang_id=lang_id %}"
         hx-trigger="mouseup"
         hx-target="#genericModalBody"
         hx-target-error="#error-box"
         data-bs-toggle="modal"
         data-bs-target="#genericModal"
         class="btn btn-primary ms-auto">
         Add a citation
      </button>
   </div>
   <a href="{% url 'segments' lang_id=lang_id source_id=segment.source.id %}" class="fs-5">
      {{segment.source.name}}
   </a>

   <div class="book-container">

      <div class="book">
         {% for spread in spreads %}
           <div class="spread {% if forloop.first %}active{% endif %}" id="spread-{{ forloop.counter0 }}">
               <div class="page left">
                  {% if spread.chapter_title %}
                    <div class="chapter-title">{{ spread.chapter_title }}</div>
                  {% endif %}
                  {% for cit in spread.left %}
                     <div class="citation">
                        <div class="text-word d-flex justify-content-between">
                           <a href="{% url 'word_details' lang_id=lang_id word_id=cit.2 %}">
                              {{ cit.3|title }}
                           </a>
                           <a hx-get="{% url 'session_segment_cite_edit' citation_id=cit.0 segment_id=segment.id lang_id=lang_id %}"
                              hx-trigger="click"
                              hx-target="#genericModalBody"
                              hx-target-error="#error-box"
                              data-bs-toggle="modal"
                              data-bs-target="#genericModal"
                              class="anchor-not-href">
                              <i class="fa-solid fa-pen-to-square edit-icon"></i>
                           </a>
                        </div>
                        <div class="text-example">
                           "{{ cit.7 }}"
                           {% if cit.10 %}
                              <span style="font-size: 0.7rem" class="text-definition">Page {{cit.10}}</span>
                           {% endif %}
                        </div>
                        <div class="text-definition">({{ cit.5 }})</div>
                     </div>
                 {% empty %}
                     <span hx-get="{% url 'session_segment_cite' segment_id=segment.id lang_id=lang_id %}"
                        hx-trigger="mouseup"
                        hx-target="#genericModalBody"
                        hx-target-error="#error-box"
                        data-bs-toggle="modal"
                        data-bs-target="#genericModal"
                        class="text-word anchor-not-href">
                        Add a citation
                     </span>
                 {% endfor %}
               </div>
               {% if spread.right|length > 0 %}
               <div class="page right">
                  {% for cit in spread.right %}
                     <div class="citation">
                        <div class="text-word d-flex justify-content-between">
                           <a href="{% url 'word_details' lang_id=lang_id word_id=cit.2 %}">
                              {{ cit.3|title }}
                           </a>
                           <a hx-get="{% url 'session_segment_cite_edit' citation_id=cit.0 segment_id=segment.id lang_id=lang_id %}"
                              hx-trigger="click"
                              hx-target="#genericModalBody"
                              hx-target-error="#error-box"
                              data-bs-toggle="modal"
                              data-bs-target="#genericModal"
                              class="anchor-not-href">
                              <i class="fa-solid fa-pen-to-square edit-icon"></i>
                           </a>
                        </div>
                        <div class="text-example">
                           "{{ cit.7 }}"
                           {% if cit.10 %}
                              <span style="font-size: 0.7rem" class="text-definition">Page {{cit.10}}</span>
                           {% endif %}
                        </div>
                        <div class="text-definition">({{ cit.5 }})</div>
                     </div>
                  {% endfor %}
               </div>
            {% endif %}
           </div>
         {% empty %}
           <div class="spread active" id="spread-0">
               <div class="page left">Add a citation</div>
               <div class="page right"></div>
           </div>
         {% endfor %}





         <button type="button" id="prevBtn" onclick="changeSpread(-1)" class="btn-transparent">
            <i class="fa-solid fa-left-long fs-3"></i>
         </button>
         <button type="button" id="nextBtn" onclick="changeSpread(1)" class="btn-transparent">
            <i class="fa-solid fa-right-long fs-3"></i>
         </button>
      </div>

      
   </div>
</div>
{% endblock %}

{% block additionalScripts %}
<script>
let currentSpread = 0;
const spreads = document.querySelectorAll('.spread');
const totalSpreads = spreads.length || 0; 

const prevBtn = document.getElementById('prevBtn');
const nextBtn = document.getElementById('nextBtn');

function updateButtonVisibility() {
  prevBtn.style.display = (currentSpread === 0) ? 'none' : 'inline-block';
  nextBtn.style.display = (currentSpread >= totalSpreads - 1) ? 'none' : 'inline-block';
}

function changeSpread(direction) {
  const nextIndex = currentSpread + direction;
  if (nextIndex < 0 || nextIndex >= totalSpreads) return;

  spreads[currentSpread].classList.remove('active');
  currentSpread = nextIndex;
  spreads[currentSpread].classList.add('active');
  
  updateButtonVisibility();
}

updateButtonVisibility();
</script>
<script>
   const defn_ajax_url = "{{defn_ajax_url}}";


   //called from base.html htmx:afterSettle which looks for data-modal-init="prepareSelect2CitationForm" inside the _citation_form swapped content
   //(ノಠ益ಠ)ノ彡┻━┻
   async function prepareSelect2CitationForm() {
      $('#genericModalTitle').text('Create a citation');

      $('#img-time-col').remove();
      $('#pending-wrapper').remove();

      const $wordInput = $('#id_word');
      const $defSelect = $('#id_definition_select');
      const $defInput = $('#id_definition_input');
      
      $wordInput.on('select2:select change', async function(e) {
         // console.log('wordInput on change');
         var wordId = parseInt($(this).val(), 10);
         if (Number.isNaN(wordId)) {
            // console.log('showdefinitionfield wordinput selec2:select change');
            showDefinitionField(false);
         } else {
            await loadDefinitions(wordId);
            $defInput.val('');
            $('#wordEditUrl').attr('href', (i, href) => href.replace(/\/word\/\d+/, `/word/${wordId}`));
         }
         $('.definition-wrapper').removeClass('unselectable');
         $('#id_example').closest('.row-wrapper').removeClass('unselectable');
      });

      $defSelect.on('change', function() {
         // console.log('defSelect on change');
         var isNewOption = $(this).val() == '-1'
         if (isNewOption) {
            $defInput.closest('.row-wrapper').removeClass('unselectable');
            $defInput.prop('disabled', false);            
         } else {
            // console.log('showdefinitionfield def select on change');
            showDefinitionField(true);
         }
         $('#wordEditUrl').toggleClass('unselectable', isNewOption);
      });


      const $initialId = $wordInput.data('initialId');
      if ($initialId != "None") {
         // console.log('word initial id');
         $wordInput.append(
            $('<option>', {
               value: $initialId,
               text: $wordInput.data('initialWord'),
               selected: true
            })
         );
         $('#wordEditUrl').attr('href', (i, href) => href.replace(/\/word\/\d+/, `/word/${$initialId}`));
         $('#id_example').closest('.row-wrapper').removeClass('unselectable');
         $('.definition-wrapper').removeClass('unselectable');
                  
         const targetDefId = $defSelect.val();
         await loadDefinitions($initialId, targetDefId);
      } else {
         $wordInput.append($('<option></option>')) //select2.select not fire when use remote source and createTag  #5386
      }
      

      function showDefinitionField(useSelect) {
         // console.log('showdeffield defSelect disabled: ', !useSelect);
         // console.log('showdeffield defInput disabled: ', useSelect);
         $defSelect.prop('disabled', !useSelect);
         $defInput.prop('disabled', useSelect);
         if (!useSelect) $defInput.val('');
         $defSelect.closest('.row-wrapper').toggleClass('unselectable', !useSelect);
         $defInput.closest('.row-wrapper').toggleClass('unselectable', useSelect);
      }

      async function loadDefinitions(wordId, targetDefId = null) {
         // console.log('loading definitions');
         const url = `${defn_ajax_url}?word_id=${wordId}`;
         try {
            const response = await fetch(url);
            if (!response.ok) throw new Error(`HTTP error! Status: ${response.status}`);
            const data = await response.json();
            $defSelect.empty();
            if (data.results.length > 0) {
               data.results.forEach(item => {
                  $('<option>', {
                     value: item.id,
                     text: item.text.length > 90 ? item.text.slice(0, 90) + '...' : item.text,
                     title: item.text
                  }).appendTo($defSelect);
               });
               $('<option>', { value: -1, text: 'New definition'}).appendTo($defSelect);
               if (targetDefId) $defSelect.val(targetDefId).trigger('change');

               // console.log('showdefinitionfield in results');
               showDefinitionField(true);
            } else {
               // console.log('showdefinitionfield NO results');
               showDefinitionField(false);
            }
         } catch (err) {
            console.error('Fetch error:', err);
         }
      }
   }
</script>
{% endblock %}